:root {
  --md-primary-fg-color: #76b900;
  --md-primary-fg-color--light: #76b900;
  --md-primary-fg-color--dark: #191919;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #111111;
  color: #E3E3E4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
  font-weight: 100;
}

.md-banner {
  color: #77b900;
  background-color: #000000;
  text-align: center;
}

.md-sidebar .md-ellipsis:hover {
  color: #76b900;
}

.md-sidebar .md-nav__link:hover {
  color: #76b900;
}

.md-footer-meta{
  background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.md-tabs{
  font-weight: 400;
  color: #ffffff;
  background-color: rgb(20,21,27);
  font-family: 'Roboto', sans-serif;
}

.md-header{
  background-color: rgb(20,21,27);
}

.md-search-result__meta{
  background-color: #77b900;
  color: #1A1A1A;
}

.md-search-result__list{
  background-color: #1A1A1A;
  color: #000000;
}

.md-select__link:hover{
  color: #76b900;
}


a {
  transition: all 1s ease-in-out;
}
a:hover,
a:focus {
  outline-color: #76b900;
  outline-offset: 2px;
}
.md-content a {
  color: #76b900;
}
.md-content a:hover,
.md-content a:focus {
  text-decoration: underline;
  color: #77b900;
}


h1 {
  font-weight: 900;
  color: #ffffff;
}
