:root {
  --md-primary-fg-color: #76b900;
  --md-primary-fg-color--light: #76b900;
  --md-primary-fg-color--dark: #191919;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #000000;
  color: #dededc;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
  font-weight: 100;
}

.md-banner {
  color: #76b900;
  background-color: #000000;
  text-align: center;
}


.md-sidebar .md-ellipsis:hover {
  color: #76b900;
}

.md-sidebar .md-nav__link:hover {
  color: #76b900;
}

.md-footer-meta{
  background-color: #000000;
}

.md-tabs {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #000000;
}

.md-header{
  background-color: #76b900;
}

/* .md-header--shadow .md-ellipsis{
  color: #000000;
} */

.md-search-result__meta{
  background-color: #77b900;
  color: #000000;
}

.md-search-result__list{
  background-color: #191919;
  color: #000000;
}

.md-select__link:hover{
  color: #76b900;
}


/* .md-search-result__article p,li{
  color: #e8e8e6;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25px;
} */


a {
  transition: all 1s ease-in-out;
}
a:hover,
a:focus {
  outline-color: #76b900;
  outline-offset: 2px;
}
.md-content a {
  color: #76b900;
}
.md-content a:hover,
.md-content a:focus {
  text-decoration: underline;
  color: #77b900;
}


h1 {
  font-weight: 900;
  color: #ffffff;
}
